---
import { getCollection } from 'astro:content';
import Layout from '../layouts/Layout.astro';
import Card from '../components/card.astro';
import Header from '../components/header.astro';

function parseSpanishDate(str: string) {
  const [d, m, y] = str.split(/[-/]/).map(Number);
  return new Date(y, m - 1, d); // Date(year, monthIndex, day)
}
let acordes = await getCollection('acordes');

acordes = acordes.sort((a, b) => {
  const yearA = a.data.year;
  const yearB = b.data.year;

  // Primero ordenamos por a침o descendente
  if (yearA !== yearB) {
    return yearB - yearA;
  }

  // Luego por fecha espa침ola descendente
  const dateA = parseSpanishDate(a.data.date);
  const dateB = parseSpanishDate(b.data.date);

  return dateB.getTime() - dateA.getTime();
});
---

<Layout title='Acordes Gaditanos' description='Colecci칩n de acordes de piezas gaditanas'>
  <div></div>
  <Header />
  <main class='container-layout'>
    <section class='section'>
      {
        acordes.map((acorde: { slug: any; data: any }) => {
          const { slug, data } = acorde;
          const { pieza, agrupacion, musica, letra, img, year } = data;

          return (
            <Card
              pieza={pieza}
              agrupacion={agrupacion}
              musica={musica}
              letra={letra}
              img={img}
              year={year}
              slug={slug}
            />
          );
        })
      }
    </section>
  </main>
</Layout>

<style>
  .section {
    margin: 88px auto;
    display: grid;
    row-gap: 40px;
    /* por defecto 2 columnas en pantallas peque침as */
    grid-template-columns: repeat(2, 1fr);
    align-items: start;
  }

  /* tablet: 3 columnas intermedias */
  @media (min-width: 640px) {
    .section {
      grid-template-columns: repeat(3, 1fr);
      column-gap: 12px;
    }
  }

  @media (min-width: 1024px) {
    .section {
      column-gap: 16px;
    }
  }

  /* pantallas grandes: 4 columnas */
  @media (min-width: 1440px) {
    .section {
      grid-template-columns: repeat(4, 1fr);
      column-gap: 16px;
    }
  }

  @media (max-width: 640px) {
    .section {
      row-gap: 24px;
      column-gap: 4px;
    }
  }
</style>
