---
import AutorCard from './AutorCard.astro';
const { autores, heading = 'Autores destacados' } = Astro.props;
const headingId = `autores-group`;
---

<article class='year-group' aria-labelledby={headingId}>
  <header>
    <h2 id={headingId} class='is-title-minus'>{heading}</h2>
  </header>

  <div class='acordes-grid' role='region' aria-labelledby={headingId}>
    {
      [...autores]
        .sort((a, b) => (a.data.order ?? 9999) - (b.data.order ?? 9999))
        .map((autor) => <AutorCard autor={autor.data} />)
    }
  </div>
</article>

<style>
  .year-group {
    position: relative;
    background: var(--card-background-color);
    border: 1px solid var(--primary-color);
    border-radius: 8px;
    padding: var(--card-padding);
    display: flex;
    flex-direction: column;
    gap: 24px;

    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-radius: 8px;
      box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
      z-index: -1;
    }
  }

  header {
    & h2 {
      position: relative;
      color: var(--primary-color);
      font-size: 1.625rem;
      font-family: 'Montserrat', sans-serif;
      font-weight: 700;
      max-width: fit-content;
      margin: 0;

      &::after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        bottom: -6px;
        width: 90%;
        height: 4px;
        background: var(--primary-contrast-color);
      }
    }
  }

  .acordes-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--card-padding);
  }

  @media (max-width: 1024px) {
    .acordes-grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  @media (max-width: 640px) {
    .year-group {
      gap: var(--card-padding-sm);
      padding: var(--card-padding-sm);
    }

    .acordes-grid {
      gap: 12px;
      grid-template-columns: repeat(2, 1fr);
      align-items: stretch;
    }

    header {
      & h2::after {
        height: 3px;
        bottom: -3px;
      }
    }
  }
</style>
