---
import { Icon } from 'astro-icon/components';

const { pieza, agrupacion, musica, letra, img, year, slug } = Astro.props;
---

<div class='card-container'>
  <a href={`/acordes/${slug}`}>
    <article class='card'>
      <header '>
        <img transition:name={`img-${slug}`} src={img} alt={pieza} />
      </header>
      <main>
        <div class='title'>
          <h2 transition:name={`pieza-${slug}`} class='title pieza'>{pieza}</h2>
          <h2 transition:name={`agrupacion-${slug}`} class='title'>{agrupacion}</h2>
        </div>
        <div>
          <div class='autor musica'>
            <div class='svg'>
              <Icon name='clave-de-sol' width={15} height={27} />
            </div>
            <span transition:name={`musica-${slug}`}>{musica}</span>
          </div>
          <div class='autor letra'>
            <div class='svg'>
              <Icon name='lapiz' width={15} height={30} />
            </div>
            <span transition:name={`letra-${slug}`}>{letra}</span>
          </div>
        </div>
      </main>
    </article>
  </a>
</div>

<style>
  .card-container {
    height: 100%;
  }
  a {
    text-decoration: none;
    color: inherit;
    height: inherit;
  }

  .card {
    background-color: var(--card-background-color);
    width: auto;
    height: inherit;
    border-radius: 8px;
    border: 1px solid var(--primary-color);
    box-shadow:
      rgba(50, 50, 93, 0.25) 0px 50px 100px -16px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    transition: all 0.5s ease;
    transform: translateY(0) scale(1);
  }

  .card header {
    position: relative;
    top: -16px;
    display: flex;
    justify-content: center;
  }

  .card header a,
  .card header img {
    height: 150px;
    width: 90%;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transition: transform 0.5s ease;
    transform: scale(1);
  }

  .card .title {
    margin: 0;
    font-weight: 500;
    font-size: 1.15rem;
    color: var(--primary-color);
  }

  .card .autor {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 1rem;
  }

  .card .autor.letra > .svg {
    position: relative;
    top: 1.5px;
  }

  .card .autor span {
    font-size: 1rem;
    color: var(--secondary-color);
  }

  .card main {
    padding: 4px 16px 0 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: relative;
    top: -8px;
  }

  .card:has(:hover, :focus) {
    transform: scale(1.05);
    box-shadow:
      rgba(50, 50, 93, 0.25) 0px 30px 60px -10px,
      rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    border: 1px solid var(--primary-contrast-color);
  }

  .card:has(:hover, :focus) header img {
    transform: scale(1.05);
  }

  @media (max-width: 1024px) {
    .card {
      max-width: 380px;
    }

    .card header {
      top: -14px;
    }

    .card header img {
      height: 150px;
      width: calc(100% - 24px);
    }

    .card main {
      gap: 4px;
      padding: 0 12px;
    }

    .card footer {
      padding: 0 12px;
    }

    .card .title {
      font-size: 1.1rem;
    }

    .card .musica {
      font-size: 0.9rem;
    }
  }

  @media (max-width: 640px) {
    .card {
      max-width: 315px;
    }

    .card header {
      top: -12px;
    }

    .card header img {
      height: 100px;
      width: calc(100% - 16px);
    }
    .card main {
      padding: 0 8px;
      gap: 4px;
    }

    .card footer {
      padding: 0 8px;
    }

    .card .title {
      font-size: 1.08rem;
    }

    .card .autor span {
      font-size: 0.9rem;
    }

    .card:has(:hover, :focus) {
      transform: scale(1.02);
    }

    .card:has(:hover, :focus) header img {
      transform: scale(1.02);
    }
  }
</style>
